* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none; color: black;}

.sub_title {
    font-family: "Jua", sans-serif; font-size: 36px; color: #9c7055;
    height: 40px; margin: 50px 0;
    text-align: center;
    line-height: 40px;
}

.header_outer .header .gnb span:nth-child(4) a {
    border-bottom: 1px solid #9c7055; box-sizing: border-box;
}

.use {
    width: 240px; height: 100px;
    margin: 40px auto;
    border: 1px solid #9c7055; box-sizing: border-box; border-radius: 50px;
    text-align: center;  line-height: 50px; font-family: "Gowun Dodum", sans-serif; font-size: 24px; color: #9c7055;
}
.use:hover {background-color: #feffed;}

.wrap {width: 1245px; margin: 100px auto; font-family: "Gowun Dodum", sans-serif;}

/* 아코디언 메뉴 */
.faq_box {border-top: 2px solid #bbb;}
.faq_box .faq {border-bottom: 1px solid #bbb;}
.faq_box .faq .faq_link {
    display: block; position: relative;
    padding: 20px; border-bottom: 1px solid #bbb;
    transition: all 0.3s;
}
.faq_box .faq_title {
    position: relative; width: calc(100% - 50px); padding-left: 40px;
    font-size: 16px;
}
.faq_box .faq_title .icon {
    position: absolute; top: 3px; left: 0; color: #9c7055; vertical-align: middle;}
.faq_box .faq .faq_content {display: none; padding: 30px 40px; color: #9c7055;}