* {margin: 0; top: 0;}

.header_outer .header .gnb span:nth-child(5) a {
    border-bottom: 1px solid #9c7055; box-sizing: border-box;
}
.sub_title {
    font-family: "Jua", sans-serif; font-size: 36px; color: #9c7055;
    margin-top: 60px; margin-bottom: 60px;
    text-align: center;
    line-height: 40px;
}

